build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
sync-scripts/server_db_backup.dump

# Docker data
docker/pgdata/
docker/*.log